.advantage {
    min-height: 470px;
    padding: 70px 0 78px 0 ;
    background-color: #f6f6f6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        width: 927px;
    }
    &__item {
        width: 237px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__subtitle {
        margin-top: 38px;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
    }
    &__descr {
        margin-top: 26px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        text-align: center;
        a {
            text-decoration: underline;
            color: #ff0000;
        }
    }
    &__animated {
        animation-name: heartbeat;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        &_1 {
            animation-name: shoebeat;
            animation-duration: 1.5s;
            animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
            animation-iteration-count: infinite;  
        }
        &_2 {
            animation-name: cupdown;
            animation-duration: 1.5s;
            animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
            animation-iteration-count: infinite;  
        }
    }
    
}