.pageup {
    position: fixed;
    display: none;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    opacity: .6;
    img {
        width: 100%;
    }

    &:hover {
        opacity: 100;
    }
}